@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Poppins', sans-serif;
}
.container{
  min-height: 100dvh;
  width: 100%;
  min-width: 320px;
  /* background: #282D35; */
  word-wrap: break-word;
  hyphens: auto;
  display: flex;
  flex-direction: column;
}
nav{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 30px;
  height: 80px;
  background: #21222A;
}
nav h3{
  margin-inline-end: auto;
  color: #61DAFB;
  font-weight: bold;
  font-size: 24px;
}
nav h4{
  color: #fff;
  font-weight: 600;
}
main{
  padding-inline: 30px;
  padding-block-start: 50px;
  color: #fff;
  flex-grow: 1;
  background-image: url('./assets/image.png');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right center;
}
main h1{
  font-size: 40px;
  font-weight: 700;
}
main ul{
  max-width: 450px;
  padding-inline-start: 30px;
}
main ul > li{
  margin-block: 20px;
  padding-inline-start: 20px;
  /* list-style-position: inside; */
}
main ul > li::marker{
  font-size: 25px;
  color: #61DAFB;
}

/** MY CARD */
.container{background: #23252C;}
.myCard{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #1A1B21;
  color: #fff;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 5px #94c6ff8e;
}
.myCard::before{
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  background: rgba(0, 255, 255, .5);
  box-shadow:  0 0 10px aqua, inset 0 0 20px rgba(220, 20, 60, 0.468);
  top: 0;
  left: -10px;
  animation: cardBeforeAnime 2s ease-in 2 alternate ;
  animation-delay: 500ms;
  transition: all;
}
@keyframes cardBeforeAnime {
  20%{
    top: 0;
    left: -10px;
    /* width: 0%; */
  }
  40%{
    top: 0;
    left: 0;
    width: 100%;
  }
  45%{
    left: 99%;
    top: 0;
    /* width: 5px; */
    height: 5px;
  }
  60%{
    left: 99%;
    top: 0;
    /* width: 5px; */
    height: 100%;
  }
  65%{
    top: 99%;
    height: 5px;
  }
  90%{
    top: 99%;
    right: 0;
    height: 5px;
    /* width: 100%; */
    opacity: 0;
  }
  /* 95%{width: 5px;} */
  100%{
    top: 0;
    right: 99%;
    /* width: 5px; */
    height: 100%;
    background: #000;
    opacity: 0;
  }
  /*
  80%{
    bottom: 0;
    right: 0;
    height: 5px;
    width: 100%;
    background: red;
  }
  90%{
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
  } */
  /*
  80%{
    right: 99%
  }
  100%{
    right: 99%;
    top: 0;
    height: 100%;
    width: 5px;
  } */
}
@keyframes leftAnime {
  from{
    transform: translateX(-100%);
  }
  70%{transform: translateX(10%);}
  to{
    transform: translateX(0);
  }
}
@keyframes rightAnime {
  from{
    transform: translateX(100%);
  }
  70%{transform: translateX(-10%);}
  to{
    transform: translateX(0);
  }
}
@keyframes opacityAnime {
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes opacityShadeAnime {
  25%{opacity: 0.5;}
  40%{opacity: 1;}
  60%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes bounceAnime {
  from{transform: translateY(-20%);}
  to{transform: translateY(0%);}
}
.cardInfo{
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.cardInfo .name{
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0 5px 0;
  animation: leftAnime 500ms linear;
}
.cardInfo .profession{
  font-size: 12px;
  color: #F3BF99;
  margin-bottom: 5px;
  font-weight: normal;
  animation: leftAnime 800ms linear;

}
.cardInfo .website{
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: normal;
  animation: rightAnime 800ms linear;
}
.cardInfo img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  animation: opacityAnime 1s linear;
}
.infoBtn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  gap: 15px;
}
.infoBtn button{
  all: unset;
  cursor: pointer;
  width: 100%;
  padding-block: 9px;
  border-radius: 6px;
  background: #FFFFFF;
  color: #1E1F26;
  font-size: 14px;
  animation: opacityShadeAnime 2s linear;
}
.infoBtn button.linkedInBtn{
  background: #5093E2;
  color: #FFFFFF;
}
.cardAbout{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
}
.cardAbout h4{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.cardAbout p{
  font-size: 10px;
  font-weight: 400;
  color: #DCDCDC;
}
.cardFooter{
  background: #161619;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardFooter .social{
  width: 25px;
  height: 25px;
  background: #918E9B;
  margin-inline: 10px;
  border-radius: 5px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161619;
  animation: bounceAnime 1s linear 2 alternate;
  transition: all;
}
.social:nth-child(4){ animation-delay: 300ms;}
.social:nth-child(3){ animation-delay: 500ms;}
.social:nth-child(2){ animation-delay: 700ms;}
.social:nth-child(1){ animation-delay: 900ms;}